<div class="top-menu">

    <img class="logo"
         src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">

</div>

<div class="demo">
    <h3>Pipes</h3>
    <hr>
    <strong>date pipe</strong>
    <div>Start Date: {{startDate | date}}</div>
    <div>Start Date: {{startDate | date: 'MMM dd yyyy'}}</div>
    <div>Start Date: {{startDate | date: 'MM/dd/yyyy'}}</div>
    <hr>
    <strong>case pipe</strong>
    <div>{{title}}</div>
    <div>{{title | uppercase}}</div>
    <div>{{title | lowercase}}</div>
    <div>{{title | titlecase}}</div>
    <hr>
    <strong>number pipe</strong>
    <div>{{price}}</div>
    <div>{{price | number: '3.3-5'}}</div>
    <strong>currency pipe</strong>
    <div>{{price | currency}}</div>
    <div>{{price | currency : 'EUR'}}</div>
    <div>{{price | currency : 'BRL'}}</div>
    <hr>
    <strong>rate pipe</strong>
    <div>percentage: {{rate}}</div>
    <div>percentage: {{rate | percent}}</div>
    <hr>
    <strong>slice pipe</strong>
    <course-card *ngFor="let course of courses | slice:2:4; index as i"   
        (courseSelected)="onCourseSelected($event)"
        [course]="course"
        [cardIndex]="i + 1">
    </course-card>
    <hr>
    <strong>json pipe</strong>
    <small>{{courses | json}}</small>
    <hr>
    <strong>key/value pipe</strong>
    <div *ngFor="let pair of course | keyvalue">
        {{pair.key + ': ' + pair.value}}
    </div>



</div>

<course-card *ngFor="let course of courses; index as i; first as isFirst; last as isLast; even as isEven; odd as isOdd"   
    (courseSelected)="onCourseSelected($event)"
    [course]="course"
    [class.is-first]="isFirst"
    [class.is-last]="isLast"
    [class.is-even]="isEven"
    [class.is-odd]="isOdd"
    [cardIndex]="i + 1">
</course-card>


